name: IG Tracker

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install deps
        run: pip install requests

      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.8217935040:AAEHAORrnUsJyTgQrCVHevru6ZVwOz2nIxs  }}
          CHAT_ID: ${{ secrets.8450180980 }}
        run: python script.py
